.form {
  margin-top: 10px;
  padding: 12px;
}
.form-hidden {
  display: none;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.field {
  height: 36px;
  width: 100%;
  padding-left: 8px;
  margin: 4px 8px;
  background-color: #FAFBFC;
  border: 1px solid #D1D5DA;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  font-size: 14px;
  font-weight: 400;
}

.form-button {
  height: 32px;
  width: 132px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
}

.button-section {
  display: flex;
  justify-content: space-between;
}
.confirm-button {
  composes: form-button;
  color: #FFF;
  background-color: #28A745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
}

.close-button {
  composes: form-button;
  background-color: #EFF3F6;
}
