.container {
  margin-bottom: 35px;
}

.users-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #24292e;
  font-size: 22px;
  font-weight: bold;
  margin: 18px 8px 4px 12px;
}
.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}

.buttons > * {
  margin-left: 8px;
}
.button-icon {
  width: 18px;
  height: 18px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}
.user:hover {
  background: #F7F7F7;
}
.user:hover .avatar-image {
  opacity: 0;
}

.user.active:hover .deactivate-icon {
  opacity: 1;
}
.user.inactive:hover .activate-icon {
  opacity: 1;
}

.activate-icon, .deactivate-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: white;
  transition: opacity 0.2s;
}
.deactivate-icon-icon {
  width: 18px;
  height: 18px;
  color: #cb2431;
}
.activate-icon-icon {
  composes: deactivate-icon-icon;
  color: #28A745;
  transform: rotate(45deg);
}

.active {
 cursor: pointer;
}

.avatar {
  position: relative;
  width: 28px;
  min-width: 28px;
  height: 28px;
  margin-left: 8px;
  border-radius: 15px;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2)
}
.avatar-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s;
}

.user-info {
  flex-grow: 1;
  margin-left: 8px;
}
.name {
  color: #444d56;
  font-weight: 600;
}
.role {
  color: #586069;
  font-size: 12px;
}

.user-menu-button {
  padding: 2px;
  margin-right: 5px;
  background: none;
  border: 0;
  cursor: pointer;
}
.user-actions-container {
  display: flex;
  align-items: center;
}
.back-button-container {
  margin-left: 8px;
}

.empty-message {
  padding: 30px;
  text-align: center;
  color: #b3b3b3;
  font-size: 18px;
}
.empty-message-sub {
  font-size: 12px;
}
