html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  color: #333333;
  margin-bottom: 40px;
}

.header {
  padding: 12px 8px;
  background: #24292E;
  color: #FFF;
  border-bottom: 1px solid #d5d5d5;
}

.content {
  margin-bottom: 35px;
}

.users-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #24292e;
  font-size: 22px;
  margin: 18px 8px 4px 12px;
}
.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}

.buttons > * {
  margin-left: 8px;
}
.button-icon {
  width: 18px;
  height: 18px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}
.user:hover {
  background: #F7F7F7;
}

.active {
 cursor: pointer;
}

.user-info {
  flex-grow: 1;
  margin-left: 8px;
}
.name {
  color: #444d56;
  font-weight: 600;
}
.role {
  color: #586069;
  font-size: 12px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 19px;
  padding: 8px;
  background: #f0f0f0;
  border-top: 1px solid #d5d5d5;
}
