html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  color: #333333;
}

.header {
  padding: 12px 8px;
  background: #24292E;
  color: #FFF;
  border-bottom: 1px solid #d5d5d5;
}

.content {
  margin-bottom: 35px;
}

.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}

.user:hover {
  background: #F7F7F7;
}

.name {
  margin-left: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 19px;
  padding: 8px;
  background: #f0f0f0;
  border-top: 1px solid #d5d5d5;
}
