.container {
  background: none;
  border: 0;
  cursor: pointer;
}
.container:disabled {
  cursor: unset;
}

.icon {
  height: 18px;
  width: 18px;
  fill: #28A745;
  padding: 6px 0;
}

.icon.disabled {
  fill: #586069;
}

.icon-spin {
  animation: spin 1s ease-in reverse 1;
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
