.container {
  margin-left: 8px;
  margin-right: 8px;
}

.add-button {
  background-color: #EFF3F6;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
}
.add-button:hover {
  background: #E6EBF1;
}
.add-button-hidden {
  display: none;
}
