.overlay-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5000px;
  left: 0;
  transition: background 0.3s, bottom 0s 0.3s;
}

.active {
  bottom: 0;
  background: rgba(0,0,0,0.5);
  transition: background 0.3s;
}

.overlay-container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.5);
  transition: top 0.3s;
}
