.container {
  margin-left: 8px;
  margin-right: 8px;
}

.edit-button {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  border-color: rgba(27,31,35,0.35);
  padding: 6px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}
.edit-button-hidden {
  display: none;
}

.add-button:hover {
  background: #E6EBF1;
}
.add-button-hidden {
  display: none;
}
