.reposList {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
  max-height: 400px;
  overflow: auto;
}
.repo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  border-bottom: 1px solid #ededed;
}
.repoInvalid {
  composes: repo;
  background: #ecc8c5
}
.invalidMessage {
  margin-left: 4px;
  font-weight: 700;
  color: #b4302b;
}
.repoInfo {
  flex-grow: 1;
  margin-left: 8px;
}
.repoName {
  color: #444d56;
  font-weight: 600;
}
.repoPath {
  color: #586069;
  font-size: 12px;
}

.emptyMessage {
  padding: 30px;
  text-align: center;
  color: #b3b3b3;
  font-size: 18px;
}
.emptyMessageSub {
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
