.header {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 100;
  padding: 12px 8px;
  background: #24292E;
  color: #ffffff;
  border-bottom: 1px solid #d5d5d5;
}

.title {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.icon {
  fill: #ffffff;
  height: 36px;
  width: 36px;
  margin-right: 4px;
}

.menu-button-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.menu-button {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu-icon {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}
