name: Build
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'scripts/**'
      - 'package.json'
      - 'README.md'
      - '**/release.yaml'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'scripts/**'
      - 'package.json'
      - 'README.md'
      - '**/release.yaml'
jobs:
  build:
    name: Build git-switch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install node modules
        run: yarn
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test:ci
      - name: Build
        run: yarn build
